@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42; /* Gray 900 */
  --background-rgb: 248, 250, 252; /* Gray 50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
